.App {
  text-align: center;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .glampic {
    animation: slight-bob infinite 20s ;
  }
}

@keyframes slight-bob {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
